@charset "UTF-8";


/* base */
body,input,textarea,select,button,table{font-family:'Noto sans KR'; font-size:15px; color:#333;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
fieldset,img{border:0; vertical-align:top;}
address{font-style:normal;}
p,li,dd{font-size:20px; line-height:1.5em; text-align:justify; list-style: none; color: #005bbb;}
/* a-style */
a{color:#333;text-decoration:none;}
a:hover,a:active,a:focus,a:visited{color:#333;text-decoration:none;}

button:hover {
   cursor: pointer;
}

/* checkPass */
.topBottom {
    height: 200px;
}

.checkPass {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    border: 3px solid rgb(187, 187, 187, 0.3);
    border-radius: 10px;
}

.passSize {
    margin-top: 20px;

    height: 40px;
    width: 300px;

    font-size: 20px;
    border: 1px solid gray;
}

.checkBtn {
    margin-top: 20px;

    height: 40px;
    width: 300px;
    
    /* line-height: 40px; */
    text-align: center;

    background-color: #005bbb;
    color: #fff;
    font-size: 20px;
    
}

/* ----------------------------------------------- */
#infoPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    border: 3px solid rgb(187, 187, 187, 0.3);
    border-radius: 10px;
}
#infoPage > h4 {
    font-size: 15px;
}
.infoWrap {
    padding: 30px 0px 30px 10px;
}
.buttonstyle {
    height: 40px;
    width: 150px;
    
    /* line-height: 40px; */
    text-align: center;

    background-color: #005bbb;
    color: #fff;
    font-size: 20px;
}
/* ----------------------------------------------- */
input {
    height: 30px;
    font-size: 15px;
}
.contentLine {
    padding: 0px 0px 10px 10px;
    border-bottom: 2px solid rgb(187, 187, 187, 0.3);
}

#mail_check_input_box_false {
    background-color: #ebebe4;
}

#mail_check_input_box_true {
    background-color: white;
}

.mail_check_wrap {
    width: 400px;

    display: flex;
    justify-content: flex-start;
}
.correct{
    font-size: small;
    color: green;
}

.incorrect{
    font-size: small;
    color: red;
}
/* 시간알림구역 */
.time {
    position: absolute;
    left: 200px;

    font-size: small;
    font-weight: bold;

    color: navy;
}
.mail_input_box {
    display: inline-flex;
}

/* 메일수정하기 */
.mail_check_button {
    cursor: pointer;

    width: 150px;
    height: 40px;

    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;

    border: 1px solid #fff;

    background-color: #005bbb;

}
/* 인증번호 전송버튼 */
.mailbuttonStyle {
    cursor: pointer;

    width: 150px;
    height: 40px;

    color: #fff;
    font-size: 20px;
    text-align: center;
    
    border: 1px solid #fff;

    background-color: #005bbb;

}
/* 이메일 인증번호 / 수정취소버튼 */
.cancleBtnStyle, .mail_check_Message {
    cursor: pointer;

    width: 200px;
    height: 40px;

    color: #fff;
    font-size: 20px;
    text-align: center;
    
    line-height: 100%;
    
    border: 1px solid #fff;

    background-color: #005bbb;
}

/* 변경이메일 기입창 */
#email {
    width: 400px;
    border: 1px solid gray;
}
/* 인증코드 기입창 */
.mail_check_input {
    width: 250px;
    border: 1px solid gray;
}
input#roadFullAddr, .roadFull {
    width: 400px;
}

#pemail, #pphone, #pcbno {
    color: red;
}

/* 파일첨부버튼 커스터마이징 */
#cbnoFile {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    border: 1px solid #005bbb;
    padding: 6px 12px;
    cursor: pointer;

    font-size: 20px;
    color: #005bbb;
    font-weight: bold;
    border-radius: 10%;
}