*{
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Sans KR Light";
    
}

button{
    cursor: pointer;
    border: solid 1px #005bbb;
    background-color: #005bbb;
    color: white;

    width: 100px;
    height: 44px;
    margin-bottom: 1px;
}

input{
    
    width: 30px;
    height: 20px;

    margin-bottom: 4px;
    margin-top: 7px;

    display: inline-block;

    border: none;
    border-bottom: 1px solid grey;

    align-self: stretch;
}

#content{
    width: 1200px;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#con_reply{
    height: 500px;
   
}

#form_header{
    height: 100px;
}

#pagination{
    height: 70px;
}

#pagination ul li{
    display: inline-block;
}

table{
    width: 1000px;
    border: 1px solid #005bbb;
    border-collapse: collapse;
}

tbody{
    text-align: center;
}

#recontent{
    width: 250px;
}