

button{
    cursor: pointer;
    border: solid 1px #005bbb;
    background-color: #005bbb;
    color: white;

    width: 100px;
    height: 44px;
    margin-bottom: 1px;
}

input{
    
    width: 30px;
    height: 20px;

    margin-bottom: 4px;
    margin-top: 7px;

    display: inline-block;

    border: none;
    border-bottom: 1px solid grey;

    align-self: stretch;
}

#wrapper{
    width: 1200px;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#con_reply{
    height: 500px;
   
}

#form_header{
    height: 100px;
}

#pagination{
    height: 70px;
}

#pagination ul li{
    display: inline-block;
}

table{
    width: 100%;
    border: 1px solid #005bbb;
    border-collapse: collapse;
    text-align: center;
}


table, th, td {
    border: 1px solid rgb(201, 201, 201);
    border-collapse: collapse;
}

th {
    background-color: rgb(245, 245, 245);
    height: 50px;
    font-size: 20px;
    border-top: 3px solid #005bbb;

}

td {
    height: 40px;
    font-size: 15px;
    text-align: center;
}


tr:hover {
    background-color: rgba(187, 187, 187, 0.1);
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* 선택 */
td:nth-child(1){
    width: 70px;
}
/* 게시판 */
td:nth-child(2) {
    width: 100px;
    text-align: center; 
}

#recontent{
    width: 250px;
}