<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.gfair.mapper.FreeBoardMapper">

  <select id="selectList" resultType="com.korea.gfair.domain.BoardVO">
    	SELECT /*+ index_desc(free_board) */ *
    	 FROM free_board WHERE bno > 0
  </select>

  <select id="getListWithPaging" resultType="com.korea.gfair.domain.BoardVO">
    SELECT /*+ index_desc(free_board) */ *
    FROM free_board
    <where>
        <choose>
            <when test="type == 'T'.toString()">
                title LIKE '%'||#{keyword}||'%'
            </when>

            <when test="type == 'C'.toString()">
                content LIKE '%'||#{keyword}||'%'
            </when>

            <when test="type == 'W'.toString()">
                memberId LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
    </where>
    
    OFFSET ( #{currPage} - 1) * #{amount} ROWS
    FETCH NEXT #{amount} ROWS ONLY

  </select>

  <select id="read" resultType="com.korea.gfair.domain.BoardVO">
    SELECT *
    FROM free_board
    WHERE bno = #{bno}
  </select>

  

  <update id="readcnt">
    update free_board
    set readcnt= readcnt+1
    where bno = #{bno}
  </update>
  
  
  <insert id="write">
    <selectKey keyProperty="bno" order="BEFORE" resultType="int">
      select bno_seq.nextVal FROM dual
    </selectKey>

    INSERT INTO free_board(
      bno,repRoot,title,content,memberId,bname
    )
    values(#{bno},#{bno},#{title},#{content},#{memberId},#{bname}

    )
  </insert>

  <update id="modify">
    update free_board set 
    title = #{title},
    content = #{content},
    
    memberId = #{memberId},
    update_ts = sysdate
    where bno= #{bno}
    
  </update>

  <delete id="delete">
    delete from free_board
    where bno = #{bno}

  </delete>

  <select id="getTotalCount" resultType="int">
    SELECT count(bno)
    FROM free_board
    WHERE bno > 0

  </select>
  
  
</mapper>