<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.gfair.mapper.FreeBoardMapper">

  <select id="selectList" resultType="com.korea.gfair.domain.BoardVO">
    	SELECT /*+ index_desc(tbl_board) */ *
    	 FROM tbl_board WHERE bno > 0
  </select>

  <select id="getListWithPaging" resultType="com.korea.gfair.domain.BoardVO">
    SELECT /*+ index_desc(tbl_board) */ *
    FROM tbl_board
  	where bname = '자유게시판'

        <choose>
            <when test="type == 'T'.toString()">
                and title LIKE '%'||#{keyword}||'%'
            </when>

            <when test="type == 'C'.toString()">
                and content LIKE '%'||#{keyword}||'%'
            </when>

            <when test="type == 'W'.toString()">
                and memberid LIKE '%'||#{keyword}||'%'
            </when>
        </choose>

    
    OFFSET ( #{currPage} - 1) * #{amount} ROWS
    FETCH NEXT #{amount} ROWS ONLY

  </select>

  <select id="select" resultType="com.korea.gfair.domain.BoardVO">
    SELECT *
    FROM tbl_board
    WHERE bno = #{bno}
  </select>

  

  <update id="readcnt">
    update tbl_board
    set readcnt= readcnt+1
    where bno = #{bno}
  </update>
  
  
  <insert id="insert">
    <selectKey keyProperty="bno" order="BEFORE" resultType="int">
      select "ADMIN"."ISEQ$$_103239".nextval FROM dual
    </selectKey>

    INSERT INTO tbl_board(
      bno,repRoot,title,content,memberid,bname
    )
    values(#{bno},#{bno},#{title},#{content},#{memberid},#{bname}

    )
  </insert>

  <update id="update">
    update tbl_board set 
    title = #{title},
    content = #{content},
    
    memberId = #{memberId},
    update_ts = sysdate
    where bno= #{bno}
    
  </update>

  <delete id="delete">
    delete from tbl_board
    where bno = #{bno}

  </delete>

  <select id="getTotalCount" resultType="int">
    SELECT count(bno)
    FROM tbl_board
    WHERE bno > 0

  </select>
  
  
</mapper>